@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase



<div class="main">
    <div class="window h-100 overflow-auto">
        <div class="title-bar">
            <div class="title-bar-text">
                <Microsoft.AspNetCore.Components.Sections.SectionOutlet SectionName="@nameof(PageHeader)" />
            </div>
            <div class="title-bar-controls">
                <button aria-label="Any Text" class="help me-1"></button>
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body h-100 overflow-auto">
            <div class="menu">
                <NavMenu />
            </div>
            <div class="content">
                @Body
            </div>
        </div>
        <div class="status-bar">
            <p class="status-bar-field">Press F1 for help</p>
            <p class="status-bar-field">Slide 1</p>
            <p class="status-bar-field">CPU Usage: 14%</p>
        </div>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
